*{
    list-style: none;
    text-decoration: none;
    margin: 10px 30px;
    padding: 0   ;
    font-family: "Open Sans", serif;
}
body{
    background-color: #F1F1F3;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:30px
}
.btn-1{
    font-weight: bold ;
    color: #006A50;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid #006A50;
}
.btn-2{
    font-weight: bold ;
    color: #FFFFFF;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #006A50;
    border: 1px solid #006A50;
}
.header{
    background-image: url(../assets/hero.png);
    background-repeat: no-repeat;
    background-position: top right, bottom right;
    background-color: #C6E4D6;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 50vh;
}
.header1{
    margin-bottom: 50px;
}
.banner-header{
font-size: 24;
font-weight: medium;
}
.banner-title{
    font-size: 56px;
    font-weight: bold;
}
.color{
    color:#81938B;
}
/* pillars */

.pillars-section {
    font-size: 40px;
    margin-bottom: 20px;
}

.pillars-container {
    display: flex;
    justify-content:space-between;
}

.pillar-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 22%;
}
/* vision section */
.vision{
    padding: 20px;
}

.vision h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.vision p {
    margin-bottom: 20px;
    color: #555;
}

.cards {
    display: flex;
}

.card1 {
    background-color: #D5E1F5;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.card2 {
    background-color: #C6E4D6;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.card3 {
    background-color: #F7EBCF;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.icon {
    margin-bottom: 10px;
}

.icon img {
    width: 50px;
    height: 50px;
}

.vision-h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.vision-p {
    margin-bottom: 20px;
    color: #555;
}

.learn-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.learn-more:hover {
    background-color: #0056b3;
}
/* Recent News */
.recent-news {
    padding: 20px;
}

.recent-news h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.recent-news p {
    color: #555;
    margin-bottom: 20px;
}

.news-item {
    display: flex;
    background-color: #f9f9f9;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-image img {
    width: 330px;
    border-radius: 15px;
}


.news-content h3 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.news-meta img {
    width: 120px;
}

.news-data p {
    color: #888;
}

.read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #006A50;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}

.read-more:hover {
    background-color: #05b941;
}
/* donate today section */
.donate-today h2{
    text-align: center;
    font-size: 40px;
}
.donate-today p{
    text-align: center;
    margin-bottom: 10;
}
.donation-option {
    justify-content: space-between;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 40px;

}

.donation-option.selected {
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.donation-option:hover {
    background-color: #e9ecef;
}

.donation-input {
    width: 100%;
    padding: 10px;
    font-size: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.donate-button {
    background-color: #006A50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
}

.donate-button:hover {
    background-color: #25a741;
}
/* footer section */
.subscribe-footer {
    background-color: #d4edda;
    padding: 30px 10px;
    text-align: center;
    border-radius: 8px;
}

.subscribe-container {
    max-width: 700px;
    margin: 0 auto;
}

.subscribe-footer h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.subscribe-footer p {
    color: #555;
    margin-bottom: 20px;

}

.subscribe-form {
    display: flex;
    margin-bottom: 20px;
}

.subscribe-input {
    font-size: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.subscribe-button {
    background-color: #006A50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.subscribe-button:hover {
    background-color: #218838;
}

.subscribe-note {
    color: #777;
    font-size: 12px;
}
/* quote setion */
.quote-container{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;  
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px 0px;
    background-color: #fff;
    max-width: 100%;
    font-size: 16px;
}
.quote-author{
    font-weight: bold;
    margin-top: 10px;
}
.quote-role{
    color: #888;
    padding-bottom: 20px;
}